*{padding: 0; margin: 0; box-sizing: border-box;}

/*--------------------global--------------------*/

body{
    background-color: rgb(245, 245, 245);
}

/*--------------------inicio--------------------*/

/*---------------header---------------*/

header{
    width: 100%;
    background-image: url(../imagenes/header-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logotipo_header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo{
    width: 180px;
    margin: 25px 0;
}

/*---------------links_del_menú---------------*/

nav{
    height: auto;
    margin: 10px 0;

}

li{
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: #75ccbb;
}

ul li a:hover{
    color: #ffc4ba;
}


/*---------------elegirnos---------------*/

.elegirnos{
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_elegirnos{
    margin-bottom: 30px;
}

.servicios_caja1, .servicios_caja2, .servicios_caja3{
    text-align: center;
    padding: 30px;
    justify-content: center;
}

.icono_servicios{
    width: 50px;
}

.texto_elegirnos{
    margin-top: 20px;
}

/*---------------quienes_somos---------------*/

.quienes_somos{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.texto_quienes_somos{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_quienes_somos{
    margin-bottom: 30px;
}

/*---------------organicemos_un_café---------------*/

.organicemos_un_cafe{
    display: flex;
    justify-content: center;
}

.texto_cafe_virtual{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
}


.titulo_cafe_virtual{
    margin-bottom: 30px;
}

/*---------------Contacto---------------*/

.contacto_principal{
    padding: 50px;
    text-align: center;
    margin: 0 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*---------------footer---------------*/

footer{
    background-color: gray;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer1, .footer2, .footer3{
    margin: 0 20px;
}

.footer_titulo{
    color: white;
    margin-bottom: 15px;
}

.footer_texto{
    color: white;
}
/*--------------------presupuesto--------------------*/

.formulario_presupuesto{
    height: 500px;
    padding: 5%;
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-evenly;
}

input{
    width: 100px;
    transition: all 2s;
}

/*--------------------servicios--------------------

a definir seccion...

/*--------------------equipo--------------------*/

.miembros{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.texto_miembros{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_miembros{
    margin-bottom: 30px;
}

/*--------------------contacto--------------------*/

.header_contacto{
    margin: 0;
}

iframe{
    width: 100%;
    margin-bottom: 50px;
}

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
}

.formulario_contacto{
    margin: 5%;
    text-align: center;
    line-height: 25px;
}
