@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

  body{
    color:color: #3c4858;
  }

  /*tipografias*/

  .serif{
    font-family: 'Roboto Slab', serif;
  }

  .sanserif{
    font-family: 'Roboto';
  }

/*--------------------inicio--------------------*/
/*---------------header---------------*/

header {
  background-image: url(../imagenes/header-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;}


  /*
.logotipo_header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

*/

.logo {
  width: 180px;
  margin: 25px 0; }

/*---------------links_del_menú---------------
nav {
  height: auto;
  margin: 10px 0; }

ul li {
  display: inline-block;
  font-weight: lighter; }

ul li a:hover {
  color: #ffc4ba; }

/*---------------elegirnos---------------*/

.elegirnos {
  margin: 50px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.titulo_elegirnos {
  margin-bottom: 30px; }

.servicios_caja1, .servicios_caja2, .servicios_caja3 {
  text-align: center;
  padding: 30px;
  justify-content: center; }

.icono {
  width: 50px; }

.texto_elegirnos {
  margin-top: 20px; }

/*---------------quienes_somos---------------*/

.container_quienes_somos {
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../imagenes/calculadora.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;}

.texto_quienes_somos {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between; }

.titulo_quienes_somos {
  margin-bottom: 30px; }

/*---------------organicemos_un_café---------------*/

.container_organicemos_un_cafe {
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../imagenes/cafe_virtual.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;}

.texto_cafe_virtual {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between; }

/*---------------Contacto---------------*/

.fondo_encontranos{
  background-image: url("../imagenes/contacto_fondo-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------footer---------------*/

footer {
  background-color: #323437;
  text-align: center;
  display: flex;
  justify-content: center;
}

.columna_footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor_logo_footer{
  text-align: center;
}

.logo_footer{
  width: 50px;
}

.separador{
  width: 100%;
  height: 1px;
  background-color: rgb(122, 122, 122);
}

.instagram{
  width: 20px;
}

/*--------------------presupuesto--------------------*/

.container_texto_presupuesto {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 50px ;}

.texto_presupuesto {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between; }

.formulario_presupuesto {
  height: 500px;
  padding: 5%;
  margin: 0 50px 50px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-evenly; }

input {
  width: 100px;
  transition: all 2s; }

/*--------------------servicios--------------------*/

.carrusel{
  height: 350px;
}

.carrusel2{
  width: 100%;
  background-size: cover;
}

.carrusel3{
  height: 100%;
}

/*--------------------equipo--------------------*/
.miembros {
  display: flex;
  justify-content: center;
  margin: 50px 0; }

.texto_miembros {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between; }

.titulo_miembros {
  margin-bottom: 30px; }

/*--------------------contacto--------------------*/

.header_contacto {
  margin: 0; }

iframe {
  width: 100%;
  margin-bottom: 50px; }

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 50px; }

.email_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;}

.formulario_contacto {
  margin: 5%;
  text-align: center;
  line-height: 25px; }


  /*-----responsive-----*/

  @media screen and (max-width: 320px) {
    
.logo{
  width: 40px;
}

  }